@media (max-width : 915px )  {
    #nav > li{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
    #nav > li :first-child{
        display: inline-block;
    }
    #header .mobile-menu{
        display: block;
    }
}